<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <title>Flashcard</title>
    <meta charset="utf-8">
    <script>
      // {{{1 data
            var data = { 
              "name" : "Hiragana",
              "cards" : {
                "あ" : "a", 
                "い" : "i", 
                "う" : "u", 
                "え" : "e", 
                "お" : "o", 
                "か" : "ka", 
                "き" : "ki", 
                "く" : "ku", 
                "け" : "ke", 
                "こ" : "ko", 
                "きゃ" : "kya", 
                "きゅ" : "kyu", 
                "きょ" : "kyo", 
                "さ" : "sa", 
                "し" : "shi", 
                "す" : "su", 
                "せ" : "se", 
                "そ" : "so", 
                "しゃ" : "sha", 
                "しゅ" : "shu", 
                "しょ" : "sho", 
                "た" : "ta", 
                "ち" : "chi", 
                "つ" : "tsu", 
                "て" : "te", 
                "と" : "to", 
                "ちゃ" : "cha", 
                "ちゅ" : "chu", 
                "ちょ" : "cho", 
                "な" : "na", 
                "に" : "ni", 
                "ぬ" : "nu", 
                "ね" : "ne", 
                "の" : "no", 
                "にゃ" : "nya", 
                "にゅ" : "nyu", 
                "にょ" : "nyo", 
                "は" : "ha",
                "ひ" : "hi", 
                "ふ" : "fu", 
                "へ" : "he",
                "ほ" : "ho", 
                "ひゃ" : "hya", 
                "ひゅ" : "hyu", 
                "ひょ" : "hyo",
                "ま" : "ma", 
                "み" : "mi", 
                "む" : "mu", 
                "め" : "me", 
                "も" : "mo", 
                "みゃ" : "mya", 
                "みゅ" : "myu", 
                "みょ" : "myo",
                "や" : "ya", 
                "ゆ" : "yu", 
                "よ" : "yo",
                "ら" : "ra", 
                "り" : "ri", 
                "る" : "ru", 
                "れ" : "re", 
                "ろ" : "ro", 
                "りゃ" : "rya", 
                "りゅ" : "ryu", 
                "りょ" : "ryo", 
                "わ" : "wa", 
                "ゐ" : "wi", 
                "ゑ" : "we", 
                "を" : "wo",
                "が" : "ga",
                "ぎ" : "gi",
                "ぐ" : "gu",
                "げ" : "ge",
                "ご" : "go",
                "ぎゃ" : "gya",
                "ぎゅ" : "gyu",
                "ぎょ" : "gyo",
                "ざ" : "za",
                "じ" : "ji",
                "ず" : "zu",
                "ぜ" : "ze",
                "ぞ" : "zo",
                "じゃ" : "ja",
                "じゅ" : "ju",
                "じょ" : "jo",
                "だ" : "da",
                "ぢ" : "ji",
                "づ" : "zu",
                "で" : "de",
                "ど" : "do",
                "ぢゃ" : "ja",
                "ぢゅ" : "ju",
                "ぢょ" : "jo",
                "ば" : "ba",
                "び" : "bi",
                "ぶ" : "bu",
                "べ" : "be",
                "ぼ" : "bo",
                "びゃ" : "bya",
                "びゅ" : "byu",
                "びょ" : "byo",
                "ぱ" : "pa",
                "ぴ" : "pi",
                "ぷ" : "pu",
                "ぺ" : "pe",
                "ぽ" : "po",
                "ぴゃ" : "pya",
                "ぴゅ" : "pyu",
                "ぴょ" : "pyo",
                "ゔ" : "vu",
                "ん" : "n"
              }
            }
            // }}}1
    </script>

    <script>
      /** 
      * Get a randomized copy of the given array
      */
      function shuffle(array) {
        var copy = array.slice();
        var deck = [];

        while (copy.length) {
          var i = Math.floor(Math.random() * copy.length);
          deck.push(copy.splice(i,1)[0])
        }

        return deck; 
      }

      /** 
      * Get the keys of an object/dictionary
      */
      function getKeys(object) {
        var keys = [];
        for (var key in object) {
          keys.push(key);
        }
        return keys;
      }

      var deck;
      var numCards;
      var currentCard;

      function setupDeck() {
        var keys = getKeys(data.cards);
        deck = shuffle(keys);
        numCards = deck.length;
        deck.push("end.");
        nextCard();
      }

      function showCard(val) {
        var card = document.getElementById('flashcard');
        card.innerHTML = val;
      }

      function setProgressWidth() {
        var tofill = document.getElementById('tofill').offsetWidth;
        var progressBar = document.getElementById('progress');
        progress.style.width = (((numCards - deck.length) / numCards) * tofill) + "px";
      }

      function isCorrect(e) {
        var textfield = document.getElementById('answer');
        var userAnswer = textfield.value + String.fromCharCode(e.charCode);
        var correctAnswer = data.cards[currentCard];

        if (userAnswer == correctAnswer) {
          textfield.value = userAnswer;
          nextCard();
          textfield.focus();
          textfield.value = "";
          e.preventDefault();
        }
      }

      function nextCard() {
        if (deck.length) {
          var card = deck.shift();
          currentCard = card;
          showCard(card);
        }
        setProgressWidth();
      }

      window.onload = function() {
        setupDeck();

        var textfield = document.getElementById('answer');
        textfield.focus();

        //document.getElementById('button').onclick = isCorrect;
        //document.getElementById('answer').onchange = isCorrect;
        document.getElementById('answer').onkeypress = isCorrect;
      }
    </script>

    <style>
      body {
        background: #aaaeb5; 
      }
      #flashcard  {
        width: 200px;
        font-size: 80pt;
        text-align: center;
      }
      #tofill  {
        width: 200px;
        background: #555;
      }
      #progress  {
        width: 0px;
        background: #00ff00;
      }
    </style>
  </head>
  <body>
    <div id='tofill'>
      <div id='progress'>&nbsp;</div>
    </div>
    <div id='flashcard'>&nbsp;</div>
    <input type='text' id='answer' />
    <!--<input type='submit' id='button' value='Go' />-->
  </body>
</html>
<!-- vim: se fdm=marker : -->
