body {
  background: #aaaeb5; 
}
#flashcard  {
  width: 100%;
  font-size: 80pt;
  text-align: center;
}
#tofill  {
  width: 100%;
  background: #555;
}
#progress  {
  width: 0px;
  background: #00ff00;
}
