<script src="easyjsc.js"></script>
<script>
  var t = 0;
  // your code goes here.
  setDraw(function() {
    var n = Math.random()*10;
    on(~~(400*Math.cos(t/50)+sw/2+n), ~~(10*Math.sin(t/50)+sh/2+n));
    on(~~(350*Math.cos(t/50)+sw/2+n), ~~(200*Math.sin(-t/50)+sh/2+n));
    on(~~(200*Math.cos(t/50)+sw/2+n), ~~(300*Math.sin(t/50)+sh/2+n));
    on(~~(100*Math.cos(t/50)+sw/2+n), ~~(200*Math.sin(-t/50)+sh/2+n));
    t++;
  }, true);
</script>
