<script src="easyjsc.js">
</script>
<script>
  i(700,700,60,'#eee',true);
  d(function() {
    var hsw = sw/2, hsh = sh/2, r = sw/2;
    drawline(hsw, hsh, Math.floor(r*Math.cos(f/50)+hsw), Math.floor(r*Math.sin(f/50)+hsh));
    //drawline(hsw,hsh,hsw,hsh+100);
    //drawline(hsw,hsh,hsw,hsh-100);
    //drawline(hsw,hsh,hsw+100,hsh+100);
    //drawline(hsw,hsh,hsw-100,hsh-100);
    //drawline(hsw,hsh,hsw+100,hsh);
    //drawline(hsw,hsh,hsw-100,hsh);
  });

  function drawline(x0,y0,x1,y1) {
    var dx = Math.abs(x1-x0), incx = (x1 > x0) ? 1 : -1,
        dy = -Math.abs(y1-y0), incy = (y1 > y0) ? 1 : -1,
        error = dx+dy;

    while (true) {
      on(x0,y0);
      // if we instead do "while (x0==x1 && y0==y1)", the function breaks.  why?
      if (x0==x1 && y0==y1) break;
      var error2 = 2*error;
      if (error2 >= dy) error += dy, x0 += incx; /* e_xy+e_x > 0 */
      if (error2 <= dx) error += dx, y0 += incy; /* e_xy+e_y < 0 */
    }
  }
</script>

