<script src="easyjsc.js">
</script>
<script>
  i(700,700);
  d(function() {
    var hsw = sw/2, hsh = sh/2, r = sw/2;
    midpoint(hsw, hsh, Math.floor(r*Math.cos(f/50)+hsw), Math.floor(r*Math.sin(f/50)+hsh));
  }, true);

  function midpoint(x0,y0,x1,y1) {
    var a, steep;

    // swap x & y if slope > 1
    if (Math.abs(y1-y0) > Math.abs(x1-x0)) {
      steep = true;
      a = x0; x0 = y0; y0 = a;
      a = x1; x1 = y1; y1 = a;
    }

    // swap (x0,y0) with (x1,y1) if line is going right-to-left
    if (x1 < x0) {
      a = x0; x0 = x1; x1 = a;
      a = y0; y0 = y1; y1 = a;
    }

    var dx = Math.abs(x1-x0),
    dy = Math.abs(y1-y0),
    d = (2*dy) - dx,
    de = dy,
    dne = -dx,
    incX = 1,
    incY = (y1 > y0 ? 1 : -1);

    // the contents here are the same except for the draw
    // call; we do this to have one less branch in the inner-loop
    if (steep) {
      while (x0 != x1) {
        on(y0,x0);

        if (d > 0) {
          d += dne;
          x0 += incX;
          y0 += incY;
          } else  {
          d += de;
          x0 += incX;
        }
      }
      } else {
      while (x0 != x1) {
        on(x0,y0);

        if (d > 0) {
          d += dne;
          x0 += incX;
          y0 += incY;
          } else  {
          d += de;
          x0 += incX;
        }
      }
    }
  }
</script>

