<title>Triangle Rasterization</title>
<script src="easyjsc.js">
</script>
<script>
  i(700,700,0,'#000');
  d(function() {
    var hsw = sw/2, hsh = sh/2, r = sw/2;

    // flat top (check)
    var a = new Vec2d(hsw + 200, hsh - 200),
    b = new Vec2d(hsw + 340, hsh - 200),
    c = new Vec2d(hsw + 170, hsh - 100);

    trifill(a,b,c);

    // weird angle 1 (     )
    a = new Vec2d(hsw + 200, hsh);
    b = new Vec2d(hsw + 200 + 100, hsh + 100);
    c = new Vec2d(hsw + 200 - 30, hsh + 50);

    trifill(a,b,c);

    // weird angle 2 (check)
    a = new Vec2d(hsw, hsh);
    b = new Vec2d(hsw - 30, hsh + 50);
    c = new Vec2d(hsw + 100, hsh + 100);

    trifill(a,b,c);

    // flat bottom (     )
    a = new Vec2d(hsw, hsh - 200),
    b = new Vec2d(hsw - 150, hsh - 100),
    c = new Vec2d(hsw, hsh - 100);

    trifill(a,b,c);
  });

  function Vec2d(x,y) {
    this.x = x;
    this.y = y;
  }

  function trifill(a,b,c) {
    var t;
    // sort vertices by y value
    if (a.y > b.y) { t = a; a = b; b = t; }
    if (a.y > c.y) { t = a; a = c; c = t; }
    if (b.y > c.y) { t = b; b = c; c = t; }

    if (a.y == b.y) {
      // fill triangle with a flat top
      // we pass the points in a different order, because 
      // points a and b have the same y-value.
      fillFlatTri(c.x, c.y, a.x, a.y, b.x, b.y);
    } else if (b.y == c.y) {
      // fill triangle with a flat bottom
      fillFlatTri(a.x, a.y, b.x, b.y, c.x, c.y);
    } else {
      // general case: split triangle in two, with a flat top and bottom
      var d = new Vec2d(a.x + ((b.y - a.y)*((c.x-a.x)/(c.y-a.y))),b.y);
      console.log(d.x,d.y);
      fillFlatTri(a.x, a.y, b.x, b.y, c.x, c.y);
      fillFlatTri(c.x, c.y, b.x, b.y, d.x, d.y);

      p(d.x,d.y,255,0,255,255);
      p(d.x+1,d.y,255,0,255,255);
      p(d.x+1,d.y+1,255,0,255,255);
      p(d.x,d.y+1,255,0,255,255);
    }

    p(a.x,a.y,255,0,0,255);
    p(b.x,b.y,0,255,0,255);
    p(c.x,c.y,0,0,255,255);
    p(a.x+1,a.y,255,0,0,255);
    p(b.x+1,b.y,0,255,0,255);
    p(c.x+1,c.y,0,0,255,255);
    p(a.x+1,a.y+1,255,0,0,255);
    p(b.x+1,b.y+1,0,255,0,255);
    p(c.x+1,c.y+1,0,0,255,255);
    p(a.x,a.y+1,255,0,0,255);
    p(b.x,b.y+1,0,255,0,255);
    p(c.x,c.y+1,0,0,255,255);
  }

  /** 
   * Draws a triangle with a flat horizontal edge.
   * This requires that v1 == y1 and y0 != y1.
   */
  function fillFlatTri(x0,y0,x1,y1,u1,v1) {
    // (x0,y0) -> (y1,y1)
    var dx = Math.abs(x1-x0), incx = (x1 > x0) ? 1 : -1,
    dy = -Math.abs(y1-y0), incy = (y1 > y0) ? 1 : -1,
    errorXY = dx+dy,
    // (u0,v0) -> (u1,v1) vars
    u0 = x0, v0 = y0,
    du = Math.abs(u1-u0), incu = (u1 > u0) ? 1 : -1,
    dv = -Math.abs(v1-v0), incv = (v1 > v0) ? 1 : -1,
    errorUV = du+dv;

    //console.log(x0,y0,x1,y1,u0,v0,u1,v1);

    while (true) {
      if (x0==x1 && y0==y1) break;

      var errorXY2 = 2*errorXY;
      if (errorXY2 >= dy) errorXY += dy, x0 += incx;
      if (errorXY2 <= dx) errorXY += dx, y0 += incy;

      while (v0 != y0) {
        var errorUV2 = 2*errorUV;
        if (errorUV2 >= dv) errorUV += dv, u0 += incu;
        if (errorUV2 <= du) errorUV += du, v0 += incv;
      }

      var a = x0, b = u0;
      if (u0 < x0) { a = u0; b = x0; }

      //console.log(y0,a,b);
      //console.log(y0,y1,v0,v1);

      while (a < b)  {
        p(a,y0,255,255,255,50);
        a++;
      }
    }
  }

</script>

