<script src="vec.js"></script>
<script src="particle.js"></script>
<script>
  var easyjsc=function(){var e,t,n,i,a,r,o,s,l;return window.onload=function(){document.body.style.backgroundColor="#eee",e=document.createElement("canvas"),e.setAttribute("width","700"),e.setAttribute("height","700"),document.body.appendChild(e),a=e.getContext("2d"),r=e.width,o=e.height,window.v=e,window.c=a,window.sw=e.width,window.sh=e.height,window.f=0,window.keys={},window.save=function(){n=a.getImageData(0,0,r,o)};var t=function(e){keys.length>e.keyCode&&keys[e.keyCode]>0?keys[e.keyCode]++:keys[e.keyCode]=1},c=function(e){keys[e.keyCode]=0};window.addEventListener?(window.addEventListener("keydown",t,!1),window.addEventListener("keyup",c,!1)):window.attachEvent?(window.attachEvent("onkeydown",t),window.attachEvent("onkeyup",c)):(window.onkeydown=t,window.onkeyup=c);var d=function(){n=a.getImageData(0,0,r,o),i=n.data,s(),a.putImageData(n,0,0),f++};l?setInterval(d,1e3/60):d()},t={c:e,ctx:a,frame:0,setDraw:function(e,t){s=e,l=t},p:function(e,t,a,r,o,s){var l=4*(e+t*n.width);i[l+0]=a,i[l+1]=r,i[l+2]=o,i[l+3]=s},g:function(e,t){var n=a.getImageData(e,t,1,1),i=n.data;return"#"+Number(i[0]).toString(16)+Number(i[1]).toString(16)+Number(i[2]).toString(16)+Number(i[3]).toString(16)},on:function(e,t){p(e,t,0,0,0,255)},off:function(e,t){p(e,t,255,255,255,255)}}}(),setDraw=easyjsc.setDraw,p=easyjsc.p,on=easyjsc.on,off=easyjsc.off,sin=Math.sin,cos=Math.cos,atan2=Math.atan2,rand=Math.random,pow=Math.pow,log=Math.log,sqrt=Math.sqrt,ceil=Math.ceil,flr=Math.floor,pi=Math.PI,hpi=pi/2,twopi=2*pi,dist=function(e,t,n,i){return sqrt(pow(e-n)+pow(t-i))},t=window.hasOwnProperty("console")?console.log:alert;

  var t = 0;
  setDraw(function() {
    var hsw = sw/2, hsh = sh/2, r = sw/2;
    midpoint1(hsw, hsh, Math.floor(r*Math.cos(t/50)+hsw), Math.floor(r*Math.sin(t/50)+hsh));
    t++;
  }, true);
}
