<script src="vec.js"></script>
<script src="particle.js"></script>
<script>
  var easyjsc=function(){var e,t,n,i,a,r,o,s,l;return window.onload=function(){document.body.style.backgroundColor="#eee",e=document.createElement("canvas"),e.setAttribute("width","700"),e.setAttribute("height","700"),document.body.appendChild(e),a=e.getContext("2d"),r=e.width,o=e.height,window.v=e,window.c=a,window.sw=e.width,window.sh=e.height,window.f=0,window.keys={},window.save=function(){n=a.getImageData(0,0,r,o)};var t=function(e){keys.length>e.keyCode&&keys[e.keyCode]>0?keys[e.keyCode]++:keys[e.keyCode]=1},c=function(e){keys[e.keyCode]=0};window.addEventListener?(window.addEventListener("keydown",t,!1),window.addEventListener("keyup",c,!1)):window.attachEvent?(window.attachEvent("onkeydown",t),window.attachEvent("onkeyup",c)):(window.onkeydown=t,window.onkeyup=c);var d=function(){n=a.getImageData(0,0,r,o),i=n.data,s(),a.putImageData(n,0,0),f++};l?setInterval(d,1e3/60):d()},t={c:e,ctx:a,frame:0,setDraw:function(e,t){s=e,l=t},p:function(e,t,a,r,o,s){var l=4*(e+t*n.width);i[l+0]=a,i[l+1]=r,i[l+2]=o,i[l+3]=s},g:function(e,t){var n=a.getImageData(e,t,1,1),i=n.data;return"#"+Number(i[0]).toString(16)+Number(i[1]).toString(16)+Number(i[2]).toString(16)+Number(i[3]).toString(16)},on:function(e,t){p(e,t,0,0,0,255)},off:function(e,t){p(e,t,255,255,255,255)}}}(),setDraw=easyjsc.setDraw,p=easyjsc.p,on=easyjsc.on,off=easyjsc.off,sin=Math.sin,cos=Math.cos,atan2=Math.atan2,rand=Math.random,pow=Math.pow,log=Math.log,sqrt=Math.sqrt,ceil=Math.ceil,flr=Math.floor,pi=Math.PI,hpi=pi/2,twopi=2*pi,dist=function(e,t,n,i){return sqrt(pow(e-n)+pow(t-i))},t=window.hasOwnProperty("console")?console.log:alert;

  /**
   * A test: simulate orbit w/gravity
   * next up: gravity + thrust
   */
  var particles = [], now = Date.now(), frame = 0;

  particles.push(new Particle(100,100,0,1,1.0));
  particles.push(new Particle(350,250,0,1e6,1.0));

  /**
   * Get vector gravity force exerted by b onto a
   */
  function gravity(a,b) {
    var dist = b.pos.subCopyV(a.pos).magnitude(),
        unitDist = b.pos.subCopyV(a.pos).normalize(),
        f = unitDist.mult((a.mass*b.mass)/(dist*dist));
    return f;
  }

  console.log(gravity(particles[0], particles[1]));

  setDraw(function() {
    var dt = (Date.now() - now)/1000;

    c.clearRect(0, 0, sw, sh);

    if (frame < 120) particles[0].addForce(new Vec3(16,-10,0));
    particles[0].addForce(gravity(particles[0], particles[1]));

    //console.log(gravity(particles[0], particles[1]));
    //debugger;

    for (var i = 0, len = particles.length; i < len; i++) {
      particles[i].tick(dt);
    };

    for (i = 0, len = particles.length; i < len; i++) {
      particles[i].draw(c);
    };

    save();

    frame++;
    now = Date.now();
  }, true);
</script>
