<script type="text/javascript" src="objloader.js"></script>
<script src='..\lib\Stats.js'></script>
<script type="text/javascript">
  /* 
  TODO:
  - draw more complex model
  IDEAS:
  - inline setpixel, drawLine
  - need to opt drawig faces homehow, os that duplicate lines aren't drawn on sphere
    - draw by verts, but sort them somehow first
    - cache lines drawn
  */
  var D = 500, plusZ = 5, canvas, c, sw, sh, imageData, meshes, cube, sphere,
  linesdrawn = {}, frame = 0;

  Object.prototype.translate = function(tx, ty, tz) {
    var p, i, x, y, z, xp, yp, len; 
    for (i = 0, len = this.vertices.length; i < len; i++) {
      p = this.vertices[i];
      p[0] += tx;
      p[1] += ty;
      p[2] += tz;
    }
    return this;
  }

  Object.prototype.rotateX = function(ax) {
    var p, i, x, y, z, xp, yp, len, 
    sinA = Math.sin(ax), cosA = Math.cos(ax);
    for (i = 0, len = this.vertices.length; i < len; i++) {
      p = this.vertices[i];
      x = p[0];
      y = p[1];
      z = p[2];
      p[1] = cosA*y - sinA*z;
      p[2] = cosA*z + sinA*y;
    }
    return this;
  }

  Object.prototype.draw = function(c, hw, hh) {
    var p, i, j, f, flen, x, y, z, xp, yp, len, x0, y0, face, vertex,
    px, py;
    // draw faces
    // loop through faces
    for (f = 0, flen = this.faces.length; f < flen; f++) {
      face = this.faces[f];
      // loop through vertices of each face
      for (i = 0, len = face.length; i < len; i++) {
        vertex = this.vertices[face[i]];
        x = vertex[0];
        y = vertex[1];
        z = vertex[2];
        xp = Math.round(D*x/(z + plusZ) + sw/2);
        yp = Math.round(D*y/(z + plusZ) + sh/2);
        if (i == 0) {
          x0 = xp;
          y0 = yp;
          px = x0;
          py = y0;
        } else if (i == len-1) {
          drawLine(imageData,px,py,xp,yp,0,0,0,255);
          drawLine(imageData,xp,yp,x0,y0,0,0,0,255);
        } else {
          drawLine(imageData,px,py,xp,yp,0,0,0,255);
        }
        px = xp;
        py = yp;
      }
    }
  }

  function setpixel(imageData, x, y, r, g, b, a) {
    index = (x + y * imageData.width) * 4;
    imageData.data[index+0] = r;
    imageData.data[index+1] = g;
    imageData.data[index+2] = b;
    imageData.data[index+3] = a;
  }

  // from rosettacode.org
  function drawLine(imageData,x1,y1,x2,y2,r,g,b,a) {
    var dx = Math.abs(x2 - x1), sx = x1 < x2 ? 1 : -1;
    var dy = Math.abs(y2 - y1), sy = y1 < y2 ? 1 : -1; 
    var err = (dx>dy ? dx : -dy)/2;
    while (true) {
      setpixel(imageData,x1,y1,r, g, b, a);
      if (x1 === x2 && y1 === y2) break;
      var e2 = err;
      if (e2 > -dx) { err -= dy; x1 += sx; }
      if (e2 < dy) { err += dx; y1 += sy; }
    }
  }

  function draw() {
    // clear canvas hack
    canvas.width = sw;
    canvas.height = sh;
    imageData = c.getImageData(0,0, sw, sh);

    var m = meshes;

    cube.rotateX(Math.PI/64);
    cube.draw(c, sw/2, sh/2);

    sphere.rotateX(Math.PI/64);
    sphere.draw(c, sw/2, sh/2);

    //console.log('hi');

    c.putImageData(imageData,0,0);
  }

  function addStats () {
    if (Stats) {
      var stats = this.stats = new Stats();

      // Align top-left
      stats.getDomElement().style.position = 'absolute';
      stats.getDomElement().style.right = '0px';
      stats.getDomElement().style.top = '0px';

      setInterval(function () {
        stats.update();
      }, 1000 / 60);
      document.body.appendChild(stats.getDomElement());
    }
  }

  window.onload = function() {
    canvas = document.getElementById("canvas1");
    c = canvas.getContext("2d");
    sw = canvas.width;
    sh = canvas.height;
    // i'm using iframe as an easy way to get another file
    var data = document.getElementsByTagName('iframe')[0].contentWindow.document.body.innerHTML;
    meshes = getObj(data);
    cube = meshes['Cube'];
    sphere = meshes['Sphere_Sphere.001'];
    sphere.translate(-2,0,0);
    imageData = c.createImageData(sw,sh);
    addStats();
    setInterval(draw, 1000 / 30);
    //draw();
  }
</script>

<style>
  body {
    background: #eee;
    margin: 50px;
  }
  #canvas1 {
    background: #fff;
  }
  iframe {
    display: none;
  }
</style>

<canvas id="canvas1" width="800" height="800">
</canvas>

<iframe src="cube_and_sphere/untitled_tris.obj"></iframe>
