<canvas id="canvas1" width="1000", height="1000">
</canvas>

<style>
  body {
    background: #555;
  }
  #canvas1 {
    background: #fff;
  }
</style>

<script type="text/javascript">
function setpixel(imageData, x, y, r, g, b, a) {
    index = (x + y * imageData.width) * 4;
    imageData.data[index+0] = r;
    imageData.data[index+1] = g;
    imageData.data[index+2] = b;
    imageData.data[index+3] = a;
}

window.onload = function() {
var canvas = document.getElementById("canvas1");
var ctx = canvas.getContext("2d");
var sw = canvas.width;
var sh = canvas.height;
var data = ctx.createImageData(sw, sh);

var K2 = 5;
//var K1 = (sw * K2 * 3) / 24;
var K1 = 100;

function draw_plane() {
  var plane = [
    { x : 100, y : 100, z : 100 },
    { x : -100, y : 100, z : 100 },
    { x : 100, y : 100, z : 200 },
    { x : -100, y : 100, z : 200 }
  ];
  draw(plane);
}

function translate(points,dx,dy,dz) {
  var p = [];
  for (var i = 0; i < points.length; i++) { 
    p.push({
      x:points[i].x += dx,
      y:points[i].y += dy,
      z:points[i].z += dz
    });
  }
  return p;
}

function sphere() {
  var p = [];
  function ap(x,y,z){ 
    p.push({x:x,y:y,z:z});
  }

  var r = 250;

  //for (var a = 0; a < Math.PI; a += Math.PI/128) { 
    //for (var t = 0; t < Math.PI; t += Math.PI/128) { 
  // a is for azimuth
  for (var a = 0; a < 2*Math.PI; a += Math.PI/128) { 
    // t is for inclination
    for (var t = 0; t < Math.PI; t += Math.PI/128) { 
      var x = r * Math.sin(t) * Math.cos(a);
      var y = r * Math.sin(t) * Math.sin(a);
      var z = r * Math.cos(t);
      ap(x,y,z);
    }
  }

  //p = translate(p,0,200,200);
  p = translate(p,0,200,300);

  draw(p);
}

function draw(points) {
  for (var i = 0; i < points.length; i++) { 
    draw_perspective(points[i].x, points[i].y, points[i].z);
  }

  function draw_perspective(x,y,z) {
    var xp = Math.round((K1*x) / (K2+z) + sw/2);
    var yp = Math.round((K1*y) / (K2+z) + sh/2);
    //console.log("("+x+","+y+","+z+") ("+xp+","+yp+")");

    if (xp >= 0 && xp < sw && yp >= 0 && yp < sh) {
      p(xp,yp,0xff,0,0);
      p(xp+1,yp,0xff,0,0);
      p(xp,yp+1,0xff,0,0);
      p(xp+1,yp+1,0xff,0,0);
    }
  }

  function p(x,y,r,g,b) {
    setpixel(data,x,y,r,g,b,0xff);
  }

  ctx.putImageData(data, 0, 0);
}

//draw_plane();
sphere();
}

</script>
