<form>
  azimuth step:
  <select name='a' onchange="sphere(document.forms[0].elements[1].value, event.target.value)">
    <option value="2">&pi;/2</option>
    <option value="4">&pi;/4</option>
    <option value="8" selected>&pi;/8</option>
    <option value="16">&pi;/16</option>
    <option value="32">&pi;/32</option>
    <option value="64">&pi;/64</option>
    <option value="128">&pi;/128</option>
    <option value="256">&pi;/256</option>
  </select>
  inclination step:
  <select name='i' onchange="sphere(document.forms[0].elements[1].value, event.target.value)">
    <option value="2">&pi;/2</option>
    <option value="4">&pi;/4</option>
    <option value="8" selected>&pi;/8</option>
    <option value="16">&pi;/16</option>
    <option value="32">&pi;/32</option>
    <option value="64">&pi;/64</option>
    <option value="128">&pi;/128</option>
    <option value="256">&pi;/256</option>
  </select>
</form>

<canvas id="canvas1" width="400", height="400">
</canvas>

<div id='t'></div>

<style>
  body {
    background: #eee;
  }
</style>

<script type="text/javascript">
  function setpixel(imageData, x, y, r, g, b, a) {
    var index = (x + y * imageData.width) * 4;
    imageData.data[index+0] = r;
    imageData.data[index+1] = g;
    imageData.data[index+2] = b;
    imageData.data[index+3] = a;
  }

  function scale(points,sx,sy,sz) {
    var p = [];
    for (var i = 0; i < points.length; i++) { 
      p.push({
        x:points[i].x *= sx,
        y:points[i].y *= sy,
        z:points[i].z *= sz
      });
    }
    return p;
  }

  function translate(points,dx,dy,dz) {
    var p = [];
    for (var i = 0; i < points.length; i++) { 
      p.push({
        x:points[i].x += dx,
        y:points[i].y += dy,
        z:points[i].z += dz
      });
    }
    return p;
  }

  function rotateX(points,t) {
    var p = [], pi, st = Math.sin(t), ct = Math.cos(t);
    for (var i = 0; i < points.length; i++) { 
      pi = points[i];
      p.push({
        x: pi.x,
        y: ct*pi.y - st*pi.z,
        z: ct*pi.z + st*pi.y,
      });
    }
    return p;
  }

  function persp(points) {
    var x,y,z,i,len;
    for (i = 0, len = points.length; i < len; i++) { 
      x = points[i].x;
      y = points[i].y;
      z = points[i].z;
      points[i].x = Math.round((K1*x) / (K2+z) + sw/2);
      points[i].y = Math.round((K1*y) / (K2+z) + sh/2);
    }
    return points;
  }

  function sphere(azimuthStep, inclinationStep) {
    var rendertime = Date.now(), r = 10, p = meshes[azimuthStep+','+inclinationStep];
    function ap(x,y,z){ 
      p.push({x:x,y:y,z:z});
    }
    if (!p) {
      p = [];
      // a is for azimuth
      for (var a = 0; a <= 2*Math.PI; a += Math.PI/azimuthStep) { 
        // t is for inclination
        for (var t = 0; t <= Math.PI; t += Math.PI/inclinationStep) { 
          var sinT = Math.sin(t);
          var x = r * sinT * Math.cos(a);
          var y = r * sinT * Math.sin(a);
          var z = r * Math.cos(t);
          ap(x,y,z);
        }
      }
      p = rotateX(p,-Math.PI/4);
      p = translate(p,0,0,50);
      p = persp(p);
      meshes[azimuthStep+','+inclinationStep] = p;
    }
    draw(p);
    rendertime = Date.now() - rendertime;
    document.getElementById('t').innerHTML = 'rendered in ' + rendertime + ' ms';
  }

  function draw(points) {
    // clear canvas hack
    canvas.width = sw;
    canvas.height = sh;

    //ctx.lineWidth = 1;
    //ctx.strokeStyle = 'rgba(0,0,0,0.1)';

    //ctx.font = "Arial 8pt";

    ctx.moveTo(points[0].x, points[0].y);

    for (var i = 1, len = points.length; i < len; i++) { 
      ctx.lineTo(points[i].x, points[i].y);
      //ctx.fillText(i+'', points[i].x, points[i].y);
    }

    ctx.stroke();
  }

  window.onload = function() {
    // globals are bad, but you just try to stop me
    canvas = document.getElementById("canvas1");
    ctx = canvas.getContext("2d");
    sw = canvas.width;
    sh = canvas.height;
    K2 = 5;
    K1 = 1000;
    // indexed by 'a,t'
    meshes = {};
    sphere(document.forms[0].elements[1].value,
    document.forms[0].elements[1].value);
  }
</script>
