<script src='..\lib\Stats.js'></script>
<!--
<script src='..\lib\sweetjs\expander.js'></script>
<script src='..\lib\sweetjs\parser.js'></script>
<script src='..\lib\sweetjs\sjs.js'></script>
<script src='..\lib\sweetjs\sweet.js'></script>
-->
<script type="text/javascript">
  var canvas, c, sw, sh, imageData;

  function setpixel(imageData, x, y, r, g, b, a) {
    index = (x + y * imageData.width) * 4;
    imageData.data[index+0] = r;
    imageData.data[index+1] = g;
    imageData.data[index+2] = b;
    imageData.data[index+3] = a;
  }

  // from rosettacode.org
  function drawLine(imageData,x1,y1,x2,y2,r,g,b,a) {
    var dx = Math.abs(x2 - x1), sx = x1 < x2 ? 1 : -1;
    var dy = Math.abs(y2 - y1), sy = y1 < y2 ? 1 : -1; 
    var err = (dx>dy ? dx : -dy)/2;
    while (true) {
      setpixel(imageData,x1,y1,r, g, b, a);
      if (x1 === x2 && y1 === y2) break;
      var e2 = err;
      if (e2 > -dx) { err -= dy; x1 += sx; }
      if (e2 < dy) { err += dx; y1 += sy; }
    }
  }

  function draw() {
    drawLine(imageData,0,300,10,200,0,0,0,255);
    drawLine(imageData,0,400,100,200,0,0,0,255);
    drawLine(imageData,0,500,10,600,0,0,0,255);
    c.putImageData(imageData,0,0);
  }

  function addStats () {
    if (Stats) {
      var stats = this.stats = new Stats();

      // Align top-left
      stats.getDomElement().style.position = 'absolute';
      stats.getDomElement().style.right = '0px';
      stats.getDomElement().style.top = '0px';

      setInterval(function () {
        stats.update();
      }, 1000 / 60);
      document.body.appendChild(stats.getDomElement());
    }
  }

  window.onload = function() {
    canvas = document.getElementById("canvas1");
    c = canvas.getContext("2d");
    sw = canvas.width;
    sh = canvas.height;
    imageData = c.createImageData(sw,sh);
    addStats();
    //setInterval(draw, 1000 / 60);
    draw();
  }
</script>

<style>
  body {
    background: #eee;
    margin: 50px;
  }
  #canvas1 {
    background: #fff;
  }
  iframe {
    display: none;
  }
</style>

<canvas id="canvas1" width="800" height="800">
</canvas>
