<script type="text/javascript">
  function setpixel(imageData, x, y, r, g, b, a) {
    index = (x + y * imageData.width) * 4;
    imageData.data[index+0] = r;
    imageData.data[index+1] = g;
    imageData.data[index+2] = b;
    imageData.data[index+3] = a;
  }

  Array.prototype.

  function drawAxes(c, notchSpacing, cw, ch) {
    var hcw = Math.round(cw/2),
        hch = Math.round(ch/2),
        i = 0;
    c.strokeStyle = '#000';
    c.lineWidth = 2;
    c.beginPath();
    // draw v. axis and notches
    c.moveTo(hcw, 0);
    c.lineTo(hcw, ch);
    for (i = 0; i < ch; i+= notchSpacing) { 
      c.moveTo(hcw, i);
      c.lineTo(hcw + 5, i);
    }
    // draw h. axis and notches
    c.moveTo(0, hch);
    c.lineTo(cw, hch);
    for (i = 0; i < ch; i+= notchSpacing) { 
      c.moveTo(i, hch);
      c.lineTo(i, hch - 5);
    }
    c.stroke();
  }

  function drawGrid(c, spacing, color, cw, ch) {
    var i = 0;
    c.strokeStyle = color;
    c.lineWidth = 1;
    c.beginPath();
    // draw v. lines
    for (i = 0; i < ch; i+= spacing) { 
      c.moveTo(0, i);
      c.lineTo(cw, i);
    }
    // draw h. lines
    for (i = 0; i < ch; i+= spacing) { 
      c.moveTo(i, 0);
      c.lineTo(i, ch);
    }
    c.stroke();
  }

  window.onload = function() {
    var canvas = document.getElementById("canvas1");
    var c = canvas.getContext("2d");
    var sw = canvas.width;
    var sh = canvas.height;
    //var data = c.createImageData(sw, sh);
    drawGrid(c, 50, '#eee', sw, sh);
    drawGrid(c, 100, '#dedede', sw, sh);
    drawAxes(c, 10, sw, sh);
  }
</script>

<style>
  body {
    background: #eee;
    margin: 50px;
  }
  #canvas1 {
    background: #fff;
  }
</style>

<canvas id="canvas1" width="800" height="800">
</canvas>
