<!--
TODO:
- figure out why we need 'plusZ'
  - try using view frustrum instead
IDEAS:
* draw by faces in .obj, not vertices
- draw tris instead of quads so that winding order don't matter
-->

<script src='Stats.js'></script>
<script type="text/javascript" src="objloader.js"></script>
<script type="text/javascript">
  var D = 500
  var plusZ = 5;
  var canvas, c, sw, sh, meshes, cube, sphere;

  function setpixel(imageData, x, y, r, g, b, a) {
    index = (x + y * imageData.width) * 4;
    imageData.data[index+0] = r;
    imageData.data[index+1] = g;
    imageData.data[index+2] = b;
    imageData.data[index+3] = a;
  }

  Object.prototype.translate = function(tx, ty, tz) {
    var p, i, x, y, z, xp, yp, len; 
    for (i = 0, len = this.vertices.length; i < len; i++) {
      p = this.vertices[i];
      p[0] += tx;
      p[1] += ty;
      p[2] += tz;
    }
    return this;
  }

  Object.prototype.rotateX = function(ax) {
    var p, i, x, y, z, xp, yp, len, 
    sinA = Math.sin(ax), cosA = Math.cos(ax);
    for (i = 0, len = this.vertices.length; i < len; i++) {
      p = this.vertices[i];
      x = p[0];
      y = p[1];
      z = p[2];
      p[1] = cosA*y - sinA*z;
      p[2] = cosA*z + sinA*y;
    }
    return this;
  }

  Object.prototype.draw = function(c, hw, hh) {
    var p, i, j, f, flen, x, y, z, xp, yp, len, x0, y0, face, vertex;
    //c.fillStyle = 'rgba(0,0,0,0.1)';

    //console.log(this.vertices);
    c.lineWidth = 1;

    // loop through faces
    for (f = 0, flen = this.faces.length; f < flen; f++) {
      face = this.faces[f];
      // loop through vertices of each face
      for (i = 0, len = face.length; i < len; i++) {
        //console.log('face',f,'index',i,'vertex',face[i]);
        vertex = this.vertices[face[i]];
        x = vertex[0];
        y = vertex[1];
        z = vertex[2];
        //xp = Math.round(-D*x/z + hw);
        //yp = Math.round(-D*y/z + hh);
        xp = Math.round(D*x/(z + plusZ) + sw/2);
        yp = Math.round(D*y/(z + plusZ) + sh/2);
        //console.log(xp,yp);
        if (i == 0) {
          x0 = xp;
          y0 = yp;
          c.moveTo(xp,yp);
        } else if (i == len-1) {
          c.lineTo(xp,yp);
          c.lineTo(x0,y0);
        } else {
          c.lineTo(xp,yp);
        }
        c.fillRect(xp,yp,2,2);
      }
      //c.stroke();
      //c.fill();
    }
  }

  function drawAxes(c, notchSpacing, cw, ch) {
    var hcw = Math.round(cw/2),
    hch = Math.round(ch/2),
    i = 0;
    c.strokeStyle = '#000';
    c.lineWidth = 2;
    c.beginPath();
    // draw v. axis and notches
    c.moveTo(hcw, 0);
    c.lineTo(hcw, ch);
    for (i = 0; i < ch; i+= notchSpacing) { 
      c.moveTo(hcw, i);
      c.lineTo(hcw + 5, i);
    }
    // draw h. axis and notches
    c.moveTo(0, hch);
    c.lineTo(cw, hch);
    for (i = 0; i < ch; i+= notchSpacing) { 
      c.moveTo(i, hch);
      c.lineTo(i, hch - 5);
    }
    c.stroke();
    return this;
  }

  function drawGrid(c, spacing, color, cw, ch) {
    var i = 0;
    c.strokeStyle = color;
    c.lineWidth = 1;
    c.beginPath();
    // draw v. lines
    for (i = 0; i < ch; i+= spacing) { 
      c.moveTo(0, i);
      c.lineTo(cw, i);
    }
    // draw h. lines
    for (i = 0; i < ch; i+= spacing) { 
      c.moveTo(i, 0);
      c.lineTo(i, ch);
    }
    c.stroke();
  }

  function draw() {
    // clear canvas hack
    canvas.width = sw;
    canvas.height = sh;

    var m = meshes;

    cube.rotateX(Math.PI/128);
    cube.draw(c, sw/2, sh/2);

    sphere.rotateX(Math.PI/128);
    sphere.draw(c, sw/2, sh/2);
  }

  function addStats () {
    if (Stats) {
      var stats = this.stats = new Stats();

      // Align top-left
      stats.getDomElement().style.position = 'absolute';
      stats.getDomElement().style.right = '0px';
      stats.getDomElement().style.top = '0px';

      setInterval(function () {
        stats.update();
      }, 1000 / 60);
      document.body.appendChild(stats.getDomElement());
    }
  }

  window.onload = function() {
    canvas = document.getElementById("canvas1");
    c = canvas.getContext("2d");
    sw = canvas.width;
    sh = canvas.height;
    // i'm using iframe as an easy way to get another file
    var data = document.getElementsByTagName('iframe')[0].contentWindow.document.body.innerHTML;
    meshes = getObj(data);
    cube = meshes['Cube'];
    sphere = meshes['Sphere_Sphere.001'];
    sphere.translate(-2,0,0);
    //drawGrid(c, 50, '#eee', sw, sh);
    //drawGrid(c, 100, '#dedede', sw, sh);
    //drawAxes(c, 10, sw, sh);
    //sphere.draw(c, sw/2, sh/2);
    addStats();
    setInterval(draw, 1000 / 60);
    //draw();
    }
  </script>

  <style>
    body {
    background: #eee;
    margin: 50px;
    }
    #canvas1 {
    background: #fff;
    }
    iframe {
    display: none;
    }
  </style>

  <canvas id="canvas1" width="800" height="800">
  </canvas>

  <iframe src="cube_and_sphere/untitled.obj"></iframe>
