<!--
Loads *.obj files containing 3D object data.
-->

<script type="text/javascript" src="../lib/json2.js"></script>
<script type="text/javascript" src="objloader.js"></script>
<script type="text/javascript">
  window.onload = function() {
    // i'm using iframe as an easy way to get another file
    var data = document.getElementsByTagName('iframe')[0].contentWindow.document.body.innerHTML;
    //console.log(data);
    console.log(JSON.stringify(getObj(data)));
  }
</script>

<iframe src="cube_and_sphere\untitled.obj"></iframe>
