<style>
  body {
    background: #eee;
    margin: 50px;
  }
  canvas {
    height: 100%;
  }
  iframe {
    display: none;
  }
</style>

<iframe src="cube_and_sphere/cube_tris.obj"></iframe>
<script type="text/javascript" src="objloader.js"></script>
<script src='..\lib\Stats.js'></script>
<script type="text/javascript">
function i(t,e,i,n){var s=window,r=document,o=Number,a=Date.now;s.m=Math,s.onload=function(){s.sw=t||700,s.sh=e||700,s.fps=i||60,s.f=0,s.dt=0,s.pt=a(),s.keys={},s.keyCodes={};for(var l=32;127>l;l++)s.keyCodes[String.fromCharCode(l)]=l;r.body.style.backgroundColor=n||"#eee",s.v=r.createElement("canvas"),v.setAttribute("width",(t||700)+"px"),v.setAttribute("height",(e||700)+"px"),r.body.appendChild(v),s.c=v.getContext("2d"),s.onkeydown=onkeydown,s.onkeyup=onkeyup;var d=function(){s.dt=(a()-pt)/1e3,s.id=c.getImageData(0,0,sw,sh),s.data=id.data,drawFn(),c.putImageData(id,0,0),f++,pt=a()};tickEveryFrame?setInterval(d,1e3/fps):d(),s.save=function(){id=c.getImageData(0,0,sw,sh)},s.p=function(t,e,i,n,s,r){var o=4*(t+e*id.width);data[o+0]=i,data[o+1]=n,data[o+2]=s,data[o+3]=r},s.g=function(t,e){var i=c.getImageData(t,e,1,1),n=i.data;return"#"+o(n[0]).toString(16)+o(n[1]).toString(16)+o(n[2]).toString(16)+o(n[3]).toString(16)},s.on=function(t,e){p(t,e,0,0,0,255)},s.off=function(t,e){p(t,e,255,255,255,255)},s.t=s.hasOwnProperty("console")?console.log:alert}}function onkeydown(t){keys.length>t.keyCode&&keys[t.keyCode]>0?keys[t.keyCode]++:keys[t.keyCode]=1}function onkeyup(t){keys[t.keyCode]=0}function dist(t,e,i,n){return m.sqrt(m.pow(t-i)+m.pow(e-n))}function d(t,e){window.drawFn=t,window.tickEveryFrame=e}function clear(){c.clearRect(0,0,sw,sh)}

  /* 
  TODO:
  * easyjsc
  - tri fill
  - make it clear/redraw properly
  */
  var D = 500, plusZ = 5, meshes, cube, modelData = null,
  linesdrawn = {}, colors = [];

  // make 256 random colors
  var col = 255;
  while (col--) {
    colors.push(new ColorRGBA(
      Math.floor(Math.random()*255),
      Math.floor(Math.random()*255),
      Math.floor(Math.random()*255),
      255));
  }

  Object.prototype.translate = function(tx, ty, tz) {
    var p, i, x, y, z, xp, yp, len; 
    for (i = 0, len = this.vertices.length; i < len; i++) {
      p = this.vertices[i];
      p[0] += tx;
      p[1] += ty;
      p[2] += tz;
    }
    return this;
  }

  Object.prototype.rotateX = function(ax) {
    var p, i, x, y, z, xp, yp, len, 
    sinA = Math.sin(ax), cosA = Math.cos(ax);
    for (i = 0, len = this.vertices.length; i < len; i++) {
      p = this.vertices[i];
      x = p[0];
      y = p[1];
      z = p[2];
      p[1] = cosA*y - sinA*z;
      p[2] = cosA*z + sinA*y;
    }
    return this;
  }

  var a = new Vec2d, b = new Vec2d, cc = new Vec2d;

  Object.prototype.draw = function(c, hw, hh) {
    var p, i, j, f, flen, x, y, z, xp, yp, len, x0, y0, face, v, col, px, py;
    // draw faces
    // loop through faces
    for (f = 0, flen = this.faces.length; f < flen; f++) {
      face = this.faces[f];

      col = colors[f % 255];

      v = this.vertices[face[0]];
      x = v[0];
      y = v[1];
      z = v[2];
      a.x = Math.round(D*x/(z + plusZ) + sw/2);
      a.y = Math.round(D*y/(z + plusZ) + sh/2);

      v = this.vertices[face[1]];
      x = v[0];
      y = v[1];
      z = v[2];
      b.x = Math.round(D*x/(z + plusZ) + sw/2);
      b.y = Math.round(D*y/(z + plusZ) + sh/2);

      v = this.vertices[face[2]];
      x = v[0];
      y = v[1];
      z = v[2];
      cc.x = Math.round(D*x/(z + plusZ) + sw/2);
      cc.y = Math.round(D*y/(z + plusZ) + sh/2);

      fillTri(a,b,cc,col);
    }
  }

  function fillRect() {
    var x,y=sh;
    while (y--) {
      x = sw;
      while (x--) off(x,y);
    }
  }

  d(function() {
    if (!modelData) {
      // i'm using iframe as an easy way to get another file
      modelData = document.getElementsByTagName('iframe')[0].contentWindow.document.body.innerHTML;
      meshes = getObj(modelData);
      cube = meshes['Cube'];
    }

    fillRect();
    //clear();

    cube.rotateX(Math.PI/64);
    cube.draw(c, sw/2, sh/2);
  }, true);

  i(300,300,30);

  function fillTri(a,b,c,color) {
    var t;
    // sort vertices by y value
    if (a.y > b.y) { t = a; a = b; b = t; }
    if (a.y > c.y) { t = a; a = c; c = t; }
    if (b.y > c.y) { t = b; b = c; c = t; }

    //on(a.x,a.y);
    //on(b.x,b.y);
    //on(c.x,c.y);

    if (a.y == b.y) {
      // fill triangle with a flat top
      // we pass the points in a different order, because 
      // points a and b have the same y-value.
      fillFlatTri(c.x, c.y, a.x, a.y, b.x, b.y, color);
    } else if (b.y == c.y) {
      // fill triangle with a flat bottom
      fillFlatTri(a.x, a.y, b.x, b.y, c.x, c.y, color);
    } else {
      // general case: split triangle in two, with a flat top and bottom
      var d = new Vec2d(a.x + ((b.y - a.y)*((c.x-a.x)/(c.y-a.y))),b.y);
      //console.log(d.x,d.y);
      fillFlatTri(a.x, a.y, b.x, b.y, c.x, c.y, color);
      fillFlatTri(c.x, c.y, b.x, b.y, d.x, d.y, color);

      //p(d.x,d.y,255,0,255,255);
      //p(d.x+1,d.y,255,0,255,255);
      //p(d.x+1,d.y+1,255,0,255,255);
      //p(d.x,d.y+1,255,0,255,255);
    }

    /*
    p(a.x,a.y,255,0,0,255);
    p(b.x,b.y,0,255,0,255);
    p(c.x,c.y,0,0,255,255);
    p(a.x+1,a.y,255,0,0,255);
    p(b.x+1,b.y,0,255,0,255);
    p(c.x+1,c.y,0,0,255,255);
    p(a.x+1,a.y+1,255,0,0,255);
    p(b.x+1,b.y+1,0,255,0,255);
    p(c.x+1,c.y+1,0,0,255,255);
    p(a.x,a.y+1,255,0,0,255);
    p(b.x,b.y+1,0,255,0,255);
    p(c.x,c.y+1,0,0,255,255);
    */
  }

  function fillFlatTri(x0,y0,x1,y1,u1,v1,color) {
    var dx = Math.abs(x1-x0), incx = (x1 > x0) ? 1 : -1,
    dy = -Math.abs(y1-y0), incy = (y1 > y0) ? 1 : -1,
    errorXY = dx+dy,
    u0 = x0, v0 = y0,
    du = Math.abs(u1-u0), incu = (u1 > u0) ? 1 : -1,
    dv = -Math.abs(v1-v0), incv = (v1 > v0) ? 1 : -1,
    errorUV = du+dv;

    while (true) {
      if (x0==x1 && y0==y1 /*&& u0==u1 && v0==v1*/) break;

      var errorXY2 = 2*errorXY;
      if (errorXY2 >= dy) errorXY += dy, x0 += incx;
      if (errorXY2 <= dx) errorXY += dx, y0 += incy;

      while (v0 != y0) {
        var errorUV2 = 2*errorUV;
        if (errorUV2 >= dv) errorUV += dv, u0 += incu;
        if (errorUV2 <= du) errorUV += du, v0 += incv;
      }

      var a = x0, b = u0;
      if (u0 < x0) { a = u0; b = x0; }

      while (a < b)  {
        p(a,y0,color.r,color.g,color.b,color.a);
        a++;
      }
    }
  }

  function Vec2d(x,y) {
    this.x = x;
    this.y = y;
  }

  function ColorRGBA(r,g,b,a) {
    this.r = r;
    this.g = g;
    this.b = b;
    this.a = a;
  }

</script>
