@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    background: #f0f0f0;
    margin: 0 auto;
    line-height: 1;
    padding: 30px;
    padding-bottom: 120px;
    font-family: 'Droid Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: rgb(51, 51, 51);
}
h1,h2 {
    border-bottom: 1px solid #ccc;
}
h1, h2, h3, h4 {
    color: #333;
    font-weight: 400;
}
h1, h2, h3, h4, h5 {
    padding: 0;
    color: rgb(60,60,60);
    letter-spacing: -1px;
    font-family: Lato;
}
h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; }
h4 { font-size: 21px; }
h5 { font-size: 18px; }
a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:hover {
    text-decoration: none;
    color: #999;
}
a:visited {
    color: purple;
}
ul, ol {
    padding: 0;
    margin: 0 0 0 30px;
}
li { line-height: 24px; }
li ul, li ul { margin-left: 24px; }
p, ul, ol {
    max-width: 540px;
    line-height: 1.7em;
    color: rgb(85, 85, 85);
}
pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
}
code {
    font-family: monospace;
    line-height: 1.5;
    font-size: 13px;
}
blockquote {
    border-left:0.5em solid #eee;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
}
blockquote  cite {
    line-height:20px;
    color:#bfbfbf;
}
blockquote cite:before { content: '\2014 \00A0'; }
blockquote p {  color: #777;
    max-width: 460px;
}
hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}
span  {
  font-style: italic;
  color: #777;
}
span:after {
  content: ". ";
}

div#menu {
  float: left;
}

div#pageslist {
  margin-right: 30px;
}

div#clear {
  clear: both;
}

div#container {
  float: left;
}

div.content {
  padding-left: 10px;
  padding-bottom: 80px;
  /* FIXME: hack to align with .nav */
  margin-top: -8px;
}

div#rendertime {
  clear: left;
}

iframe.txt,
.hide {
  display: none;
}

.nav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.nav ul {
  list-style: none;
  margin: 0;
}

.nav ul > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  xborder: 1px solid #ccc;
  text-decoration: none;
}

.nav a:hover {
  background-color: #999;
}

.nav a:active {
  background-color: #777;
}

.nav {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.nav .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-decoration: none;
}

.nav > ul > li > a {
  background-color: #aaa;
  color: #fff;
  xborder: 1px solid #888;
}

#toc a:hover {
  background-color: #eee;
}

#toc a:active {
  background-color: #ddd;
}


/* hide any h3s and below */
.nav > ul > li > ul > li > ul {
  display: none;
}

table, tr, td, th {
  border: 1px solid #bbb;
  padding: 0px;
  margin: 0px;
}

